<%- include('header') -%>
<main>
     <h1>Liste de membres</h1>

     <table>
          <tr>
               <th>ID </th>
               <th>Prénom </th>
               <th>Age</th>
               <th>Action</th>
          </tr>

          <% for(let i=0; i<listeMembre.length; i++){%>
          <tr>
               <td><%= listeMembre[i].id %></td>
               <td>
                    <a href="/membre/<%= listeMembre[i].id %>">
                         <%= listeMembre[i].prenom %>
                    </a>
               </td>
               <td><%= listeMembre[i].age %></td>
               <td>
                    <a href="/delete/<%= listeMembre[i].id %>">
                         <i class="fas fa-trash-alt"></i>
                    </a> -
                    <a href="/update/<%= listeMembre[i].id %>/<%= listeMembre[i].prenom %>/<%= listeMembre[i].age %>">
                         <i class="fas fa-pencil-alt"></i>
                    </a>
               </td>
          </tr>
          <%}%>
          </table>
          <hr>
          <form action="/add" method="POST">
               <label for="">Prénom</label>
               <input type="text" name="prenom" required>
               <label for="">Age</label>
               <input type="number" name="age" required>
               <input type="submit">
          </form>
     </main>
</body>

</html>